.tuple {
	width:auto;
	background:#fff;
	display: inline-block;	
	margin: -1px;
	border: 1px solid black;
	align-content: flex-start;
	overflow: hidden;
	font-family: monospace;
	color:#444;
}

.tuple  > div {
	display: inline-block;
	padding:3px 6px;
}

.tuple .property {
	background:#baeeba7a;
}