.tuple {
width: auto;
	background: #B1F5B7;
	display: inline-block;
	border: 1px solid #000;
	margin-top:-1px;
	margin-right:-1px;
	-ms-flex-line-pack: start;
	align-content: flex-start;
	font-family: 'Droid Sans Mono', monospace;
	font-size:0.85em;
	color: #222222;
}

.tuple  > div {
	display: inline-block;
	padding:3px 6px;
}

.tuple .property {
	background:rgb(67, 60, 107);
	position: relative;
	color:#fff;
}